/* color background*/

.lateral {
    width: 25%;

    nav {
        background-color: red;
    }

    background-color: #696969;
}

.content {
    width: 75%;
    background-color: #adadad;
}

/* margin et padding */

.margin200 {
    margin-top: 200px;
}

.margin50 {
    margin-top: 50px;
}

.marginbottom110 {
    margin-bottom: 110px;
}

.margin30 {
    margin-top: 30px;
}

.margin40 {
    margin-top: 40px;
}


.padding20 {
    padding-right: 30px;
}

/* font size*/

.text {
    font-size: 80px;
}

.size100 {
    font-size: 100px;
}

.size85{
    font-size: 85px;
}

/* img*/

.W20{
    width:20%;
}

/*color text*/

.Whitecolor{
    color:#ffff;
}